.searchInputContainer {
  width: 50vw;
  min-width: 300px;
  position: absolute;
  top: 70vh;
}

.searchSuggestionsContainer {
  width: 45vw;
  min-width: 300px;
}

.searchSuggestion{
  padding-left: 5px;
  cursor: pointer;
}

.searchSuggestion:hover{
  background-color: rgba(207, 207, 207, 0.63)
}